*~
session*
.*
projectile-bookmarks.eld
xkcd/
bookmarks
*.cache

/emacs.d/abbrev_defs
/emacs.d/config.el
/emacs.d/elpa
/emacs.d/emojis
/emacs.d/eshell
/emacs.d/games
/emacs.d/ido.last
/emacs.d/magithub
/emacs.d/newsticker
/emacs.d/projectile.cache
/emacs.d/quelpa
/emacs.d/recentf
/emacs.d/request
/emacs.d/tramp
/emacs.d/transient
/emacs.d/url
/emacs.d/var/pcache/cache
/emacs.d/eln-cache
/emacs.d/projects
